<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">URL Shortener</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/url-short">Shorten URL</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Shorten URL</h4>
                    </div>
                    <div class="card-body">
                        <form id="urlForm" action="/api/v1/url/shorten" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" id="originalUrl" name="originalUrl" placeholder="Enter URL" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Shorten</button>
                        </form>
                    </div>
                    <div id="shortenedUrlContainer" class="mt-3" style="display:none;">
                        <h5>Shortened URL:</h5>
                        
                        <a href="" id="shortenedUrl"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        document.getElementById('urlForm').addEventListener('submit', async function(e) {
            e.preventDefault();
            
            const originalUrl = document.getElementById('originalUrl').value;
            const token = localStorage.getItem('jwtToken');
    
            try {
                const response = await fetch('/api/v1/url/shorten', {
                    method: 'POST',
                    headers: { 
                        'Content-Type': 'application/json',
                        'authorization': token
                    },
                    body: JSON.stringify({ originalUrl })
                });
    
                const data = await response.json();
                
                if (data.success) {
                    const shortUrl = data.shortUrl;
                    document.getElementById('shortenedUrl').textContent = shortUrl;
                    document.getElementById('shortenedUrl').href = "url/" + shortUrl;
                    document.getElementById('shortenedUrlContainer').style.display = 'block';
                } else {
                    alert(data.message);
                }
            } catch (error) {
                console.error('There was an error shortening the URL:', error);
                alert('An error occurred. Please try again.');
            }
        });
    </script>    
</body>

</html>
